<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<%= tag.h1 'Contact Us', class: 'text-center mt-4' %>

<div class="d-flex justify-content-end">
  <div class="contactUs-lottie">
    <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_hqrpwcwb.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
  </div>
</div>