<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>
  <% if enhanced_cart.size == 0 %>
   <h2 style="text-align: center">Your Cart is Currently Empty</h2>
   <p style="text-align: center">Before proceed to checkout you must add some products to your shopping cart.<br>Check out more products we have!</p>
   <%= (link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary col-md-8 offset-md-2') %>
  <% else %>
    <%= render "non_empty_cart" %>
  <%end%>

  

</section>
