  
<section class="products-index">
<% flash.each do |type, msg| %>
  <div class="alert alert-info alert-dismissible fade show">
    <%= msg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
  <header class="page-header">
    <div class="intro text-center mt-4 p-5 mb-0 bg-light text-white rounded" >
    <h1 class="text-success">"For every plant you purchase, we plant one tree"</h1>
    </div>
  </header>
  <i class="fa-solid fa-angles-down pt-0 mt-0 mb-5 d-flex justify-content-center text-success animate__animated animate__shakeY animate__slow" style="font-size: 2em; animation-iteration-count: infinite"></i>

  <div class="products">
    <%= render @products %>
  </div>
</section>
